<section id="header">
  <div id="header-container" class="container">
    <img id="logo" src="assets/controller.png" alt="" />
    <h2 id="title">SENTENCE MAKER</h2>
  </div>
  <div id="sub-header-container" class="container">
    <p>Imagin A World Where Keyboards Don't Exist</p>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div id="content-bar" class="container">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div id="content-window" class="container">
      <div class="container">
        <div id="game" class="game-div col-sm-8">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <select
                  class="form-select"
                  id="wordType"
                  [(ngModel)]="selectedType"
                  (change)="getWordsByType(selectedType)"
                >
                  <option value="0" disabled selected>SELECT A TYPE</option>
                  <option *ngFor="let type of wordTypes" [value]="type.id">
                    {{ type.name }}
                  </option>
                </select>
              </div>
              <div class="col-sm-4">
                <div *ngIf="selectedType">
                  <select
                    id="word"
                    class="form-select"
                    [(ngModel)]="selectedWord"
                  >
                    <option value="0" disabled selected>SELECT A WORD</option>
                    <option *ngFor="let word of words" [value]="word.name">
                      {{ word.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
                <div *ngIf="selectedType">
                  <button class="btn btn-dark" (click)="addToSentence()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="history" class="game-divcol-sm-4"></div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="content">
    <div id="content-container" class="container-fluid">
        
    </div>
</section> -->

<div>
  <label for="wordType">Select Word Type:</label>
  <select
    id="wordType"
    [(ngModel)]="selectedType"
    (change)="getWordsByType(selectedType)"
  >
    <option *ngFor="let type of wordTypes" [value]="type.id">
      {{ type.name }}
    </option>
  </select>
</div>

<div *ngIf="selectedType">
  <label for="word">Select Word:</label>
  <select id="word" [(ngModel)]="selectedWord">
    <option *ngFor="let word of words" [value]="word.name">
      {{ word.name }}
    </option>
  </select>
  <button class="btn" (click)="addToSentence()">Add to Sentence</button>
</div>

<div *ngIf="sentence != ''">
  <p>Current Sentence: {{ sentence }}</p>
  <button (click)="submitSentence()">Submit Sentence</button>
</div>

<div>
  <ul>
    <li *ngFor="let sentence of sentences">
      <p>{{ sentence.content }}</p>
    </li>
  </ul>
</div>

<button class="btn btn-success" (click)="deleteAllSentences()">
  Delete All Sentences
</button>
